<div class="row">
    <div class="col-md-6">
        <h2>Uneaten Burgers</h2>

        {{#each burgers}}
            {{#unless devoured}}
            {{/unless}}
        {{/each}}
    </div>

    <div class="col-md-6">
        <h2>Eaten Burgers</h2>
        
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="burgerInput">
                <button id="submitButton" class="btn btn-primary mb-2">Add Burger!</button>
            </div>
        </form>
    </div>
</div>